body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
}

/* baseline views **************************/
header {
    text-align: center;
    padding: 20px;
    background-color: cornflowerblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
}

main section {
    border: 3px solid darkblue;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 0 1em;
    margin-top: 2em;
}

main section h2 {
    padding: .5em;
    font-size: x-large;
}

main section h3 {
    background-color: yellowgreen;
    padding: .5em;
    line-height: 25px;
    font-size: larger;
}

main section h3 a {
    text-decoration: none;
    color: white;
    font-size: smaller;
}

main section picture img {
    width: 95%;
    height: auto;
}

main section p {
    padding: 8px;
    text-align: left;
    font-size: medium;
}

footer {
    text-align: center;
    background-color: cornflowerblue;
    padding: 2em;
    margin-top: 2em;
}

/* tablet views ******************************/
@media only screen and (max-width: 50em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture {
        display: block;
    }

    main section picture img {
        width: 95%;
        height: auto;
        border: 1px solid #bbb;
    }
}

/* phone views ****************************/
@media only screen and (max-width: 30em) {
    main {
        grid-template-columns: 1fr;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }
}