@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto&display=swap');

body {
    background-color: #EDEFEC;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 350px;
}

.chamber-logo {
    width: 90px;
    height: 90px;
}

.home-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

header {
    position: relative;
}

.header-section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

#banner {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    background-color: lightgray;
    color: white;
}

#menu {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.25rem;
    border: 0;
    border-radius: 2px;
    color: #000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    max-width: 100%;
    margin: 0 auto;
}

.active {
    background-color: #87d68d;
}

.hero {
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
}

.hero-img {
    opacity: 70%;
}

.herolabel {
    position: absolute;
    left: 2%;
    top: 0%;
    font-style: italic;
}

.hero-msg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.hero-msg h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    font-weight: bolder;
    background: radial-gradient(lightgray, darkgray);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.button-box {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: medium;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

#hero-medium,
#hero-large {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
    left: 2%;
    top: 2%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: darkgray;
}

input:focus+.slider {
    box-shadow: 0 0 1px darkgray;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

/* Dark mode styles */
.dark-mode {
    background-color: black;
    /* Dark background color */
    color: white;
    /* Light text color */
    box-shadow: none;
    border: none;
    /* Remove border and box shadow */
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.home-grid,
.discover-grid,
.cards,
.dis-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 25px;
    max-width: 100%;
}

.home-grid h2 {
    background-color: black;
}

.dis-pic img {
    width: auto;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

figcaption {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: small;
}

#visit-message {
    padding: 25px;
    font-weight: bolder;
}

.events-card,
.weather-card,
.demo-card,
.welcome-card,
.business-card {
    border-style: double;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
    background-color: lightgray;
    max-width: 500px;
    max-height: 450px;
}

.business-card {
    background-color: white;
}

.events-card h2,
.weather-card h2,
.demo-card h2,
.business-card h2,
.welcome-card h2 {
    background-color: black;
    color: whitesmoke;
    margin: 0 auto;
    padding: 8px;
}

.events-card a,
.business-card a,
.demo-card a,
.welcome-card a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.weather-card p,
.demo-card p,
.business-card p,
.welcome-card p {
    text-align: center;
}

.events-card p,
.demo-card p {
    text-align: left;
    padding: 2%;
}

.inner-div {
    margin-bottom: 15px;
}

.weather-info {
    display: block;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.temperature {
    font-size: x-large;
    padding-bottom: 5px;
}

.feels_like {
    font-size: smaller;
    font-style: italic;
    padding-bottom: 10px;
}

.business-logo {
    padding-top: 10px;
    width: 200px;
    height: 200px;
}

.application {
    display: flex;
    flex-direction: column;
}

.application h1 {
    margin: 20px;
}

.thankyou {
    text-align: center;
}

.mem-app {
    padding: .5rem 2%;
}

.mem-app fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 2%;
    min-width: 310px;
}

.mem-app legend {
    padding: 0 .5rem;
    font-weight: bold;
}

.mem-app label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.mem-app div {
    padding-top: 1rem;
    font-size: .9rem;
}

.mem-app input[type="text"],
.mem-app input[type="tel"],
.mem-app input[type="email"] {
    background-color: white;
    display: block;
    border: solid 1px black;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 275px;
    appearance: none;
}

.mem-app textarea {
    background-color: white;
    display: block;
    border: solid 1px black;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 275px;
    appearance: none;
}

.mem-app input[type="radio"] {
    margin-right: 6px;
}

.mem-app input[type="submit"] {
    border: none;
    background-image: linear-gradient(green, darkgreen);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.mem-app input:required {
    border-left: solid 8px red;
}

.mem-app input:required:valid {
    border-left: solid 8px green;
}

.comparison {
    margin: 10px auto;
    border-radius: 6px;
    border-collapse: collapse;
}

.comparison caption {
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
}

tr:first-child th {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: large;
}

th,
td {
    padding: 7px 15px;
    border: 1px solid hsla(0, 0%, 33%, .3);
}

th {
    background-color: darkgray;
    color: black;
}

td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
    color: black;
}

.bronze {
    background-color: #CD7F32;
}

.silver {
    background-color: silver;
}

.gold {
    background-color: gold;
}

.directory,
.directory h2,
.directory p {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#members {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#members section {
    border: 2px solid gray;
    box-shadow: 0 0 30px darkgray;
    padding: .5rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    background-color: white;
}

.member-info {
    text-align: center;
}

#members section p {
    display: block;
    margin: 0.2rem;
}

#members.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#members.list section {
    border: none;
    box-shadow: none;
    flex-direction: row;
    margin: 0rem;
}

#members.list .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#members.list section:nth-child(even) {
    background-color: darkgray;
}

#members.list .member h2,
#members.list .member p,
#members.list .member a {
    flex: 1;
}

#members.list .member-logo {
    display: none;
}

#members.list section h2 {
    margin: .2rem;
}

.dark-mode #members section {
    box-shadow: none;
    border: none;
}

.dark-mode #members.list section:nth-child(even) p,
.dark-mode #members.list section:nth-child(even) h2,
.dark-mode #members.list section:nth-child(even) a,
.dark-mode #members.list section:nth-child(odd) p,
.dark-mode #members.list section:nth-child(odd) h2,
.dark-mode #members.list section:nth-child(odd) a,
.dark-mode #members p,
.dark-mode #members h2,
.dark-mode #members a,
.dark-mode .business-card,
.dark-mode .events-card,
.dark-mode .weather-card {
    color: black;
}

.dark-mode .header-section-main {
    background-color: #000;
}

footer {
    display: block;
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
}

#copyright {
    display: flex;
    justify-content: center;
    padding: 2%;
}

#copyright p {
    padding-left: .5em;
    padding-right: .5em;
}