@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto&display=swap');

body {
    background-color: lightgray;
    color: black;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
}

header {
    display: none;
}

#hero {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#hero-box {
    z-index: -1;
}

#hero-img {
    width: 100%;
    opacity: 50%;
}

nav {
    max-width: 100%;
    margin: 1rem auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 2%;
    right: 2%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

#hero-msg {
    margin-top: 5%;
    margin-bottom: 10%;
}

#hero-msg h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: whitesmoke 5px 0 20px;
}

#hero-msg h4 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: whitesmoke 10px 0 20px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: medium;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

.button-box {
    text-align: center;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: block;
}

.home-grid h2 {
    background-color: black;
}

.events-card,
.weather-card,
.business-card {
    border-style: double;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: gray;
}

.events-card h2,
.weather-card h2,
.business-card h2 {
    background-color: black;
    color: whitesmoke;
    margin: 0 auto;
    padding: 8px;
}

.events-card p,
.weather-card p,
.business-card p {
    text-align: left;
    padding: 2%;
}

footer {
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
}

#disclaimer {
    padding: 20px;
    text-align: center;
    font-size: small;
    font-style: oblique;
}