@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto&display=swap');

body {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1500px;
}

.home-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

header {
    position: relative;
}

#menu {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.25rem;
    border: 0;
    border-radius: 2px;
    color: #000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    max-width: 100%;
    margin: 0 auto;
}

.hero {
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    overflow: hidden;
}

.hero-img {
    opacity: 70%;
}

.herolabel {
    position: absolute;
    left: 2%;
    top: 0%;
    font-style: italic;
}

.hero-msg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.hero-msg h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    font-weight: bolder;
    background: radial-gradient(lightgray, darkgray);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.button-box {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: medium;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

#hero-medium,
#hero-large {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
    left: 2%;
    top: 2%
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: darkgray;
}

input:focus+.slider {
    box-shadow: 0 0 1px darkgray;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #87d68d;
    color: black;
    font-weight: 700;
    font-size: large;
}

/* Dark mode styles */
.dark-mode {
    background-color: black;
    /* Dark background color */
    color: white;
    /* Light text color */
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.home-grid {
    display: block;
}

.discover-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.home-grid h2 {
    background-color: black;
}

.dis-pic img {
    width: 400px;
    min-width: 400px;
    height: 300px;
    overflow: hidden;
    margin-left: 10px;
}

.caption {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

#visit-message {
    padding: 25px;
    font-weight: bolder;
}

.events-card,
.weather-card,
.business-card,
.demo-card,
.calendar-card,
.events-card2,
.welcome-card {
    border-style: double;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: gray;
    min-width: 300px;
    min-height: 200px;
    width: 300px;
}

.events-card h2,
.weather-card h2,
.business-card h2,
.demo-card h2,
.calendar-card h2,
.events-card2 h2,
.welcome-card h2 {
    background-color: black;
    color: whitesmoke;
    margin: 0 auto;
    padding: 8px;
}

.events-card a,
.weather-card a,
.business-card a,
.demo-card a,
.calendar-card a,
.events-card2 a,
.welcome-card a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.events-card p,
.weather-card p,
.business-card p,
.demo-card p,
.calendar-card p,
.events-card2 p {
    text-align: left;
    padding: 2%;
}

.events-card {
    margin-top: 25px;
}

.weather-card p,
.demo-card p,
.welcome-card p {
    text-align: center;
}

.inner-div {
    margin-bottom: 15px;
}

.weatherbox {
    display: flex;
    justify-content: center;
    max-height: 40px;
}

#thumbnail {
    width: 60px;
    height: 60px;
    padding-right: 2%;
}

#temperature {
    font-size: x-large;
}

.business-card img {
    width: 20%;
}

.calendar-card ul {
    list-style-type: none;
}

/* Month header */
.month {
    padding: 30px 25px;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    text-align: left;
    padding-left: 10px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

footer {
    display: block;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
}

#copyright {
    display: flex;
    justify-content: center;
    padding: 2%;
}

#copyright p {
    padding-left: .5em;
    padding-right: .5em;
}