@media screen and (min-width:500px) {
    body {
        max-width: 1000px;
    }

    nav {
        margin: auto 0;
        align-content: space-around;
        justify-content: center;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: black;
        color: #fff;
    }

    .navigation a {
        display: flex;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    #menu {
        display: none;
    }

    #hero-medium {
        display: block;
    }

    #hero-large,
    #hero-small {
        display: none;
    }

    .hero {
        width: auto;
        height: 500px;
        overflow: hidden;
    }

    .hero-img {
        max-height: 400px;
    }

    .hero-msg {
        top: 30%;
        left: 50%;
    }

    .button-box {
        top: 45%;
        left: 50%;
    }

    .home-grid {
        flex-direction: row;
    }

    .application {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .application h1 {
        grid-column: 1/3;
        margin: 20px;
    }

    .mem-app {
        grid-column: 1/2;
        padding: .5rem 2%;
    }

    .comparison {
        grid-column: 2/3;
        margin: 20px;
    }

    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cards {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
    }

    .events-card,
    .weather-card,
    .business-card,
    .welcome-card,
    .demo-card {
        min-width: 260px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 150px;
    }

    .dis-pic {
        display: flex;
        flex-direction: column;
        grid-column: 2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 25px 0px 0px;
    }

    .dis-pic img {
        width: 500px;
        height: 300px;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .dis-pic img:hover {
        box-shadow: 0 0 50px black;
    }

}