/* Google Font API Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: white;
    --secondary-color: #69797E;
    --accent1-color: black;
    --accent2-color: #008752;

    /* Use Open Sans Font */
    font-family: 'Open Sans', sans-serif;


    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #323130;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #323130;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: #69797E;
    --nav-link-color: #323130;
    --nav-background-color: white;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #69797E;
}

header {
    background: var(--accent2-color);
    color: var(--headline-color-on-color);
    display: grid;
    grid-template-columns: 150px auto;
    place-content: space-around center;
    align-items: center;
    padding: 1rem;
}

.navigation {
    display: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: var(--accent1-color);
    margin: 0 auto;
}

.navigation a {
    text-decoration: solid;
    font-weight: bold;
    font-size: larger;
    color: var(--headline-color-on-color);
}

.navigation a:hover {
    background-color: var(--nav-hover-background-color);
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    padding: 10px;
}

ul {
    list-style: none;
}

.open {
    display: block;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 2%;
    right: 2%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

main {
    place-content: center;
    margin: 0 auto;
    max-width: 90%;
}

#main-title {
    text-align: center;
    text-decoration: solid;
    text-decoration-line: underline;
    text-underline-offset: .5em;
    text-underline-position: auto;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    color: var(--headline-color-on-white);
}

.learningcard,
.infocard,
.map {
    border: solid black;
    margin: 1%;
}

h3 {
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.learningcard h3 {
    color: var(--paragraph-color-on-white);
    text-align: center;
}

.infocard h3 {
    color: var(--paragraph-color-on-white);
    text-align: center;
}

.infocard p {
    text-align: center;
}

iframe {
    width: 100%;
}

footer {
    background: var(--accent1-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--headline-color-on-color);
    margin-top: 5%;
}

footer p {
    text-decoration: solid;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    color: var(--headline-color-on-color);
}